![NASA](http://www.nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg)

<center><h1><font size="+3">GSFC Introductory Python Training</font></h1></center>

![title](img/pandas_logo.png)

`pandas` is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

<center>Reference: http://pandas.pydata.org</center>

Topics:
    1. Pandas data structures
    2. Loading data
    3. Cleaning and formatting data
    4. Basic visualization

### Standard imports

#### Numpy

In [ ]:
import numpy as np

#### The <font color='red'>Pandas</font> library.

In [ ]:
import pandas as pd
print('Using pandas version ',pd.__version__)

#### Notebook settings

In [ ]:
%matplotlib inline
pd.set_option("max_rows", 10) # only 10 rows of data will be displayed
np.set_printoptions(suppress=True)
LARGE_FIGSIZE = (8, 6) # set figure size

#### Graphics

In [ ]:
#from seaborn import set_style
#set_style("darkgrid")
import seaborn as sns
sns.set(style='ticks', context='talk')
import matplotlib.pyplot as plt

## <center>Motivation</center>

In [ ]:
my_dict = { 
     'name' : ["John", "Diane", "Joe", "Danielle", "Ashley", "Sam"],
     'age' : [20,55, 35, 40, 21, 35],
     'salary' : [41000,73000, 68000, 65000, 50000, 55000],
     'designation': ["VP", "CEO", "CFO", "VP", "VP", "VP"]
}
my_dict

But what if you want to get the designation for Employee Sam? There are several ways to do this, but most are not clean and straightforward

In [ ]:
B = np.reshape(np.arange(9),(3,3))
B

In [ ]:
B[0][1]

But what if you want to get the to access data via indexing other than index location? There are several ways to do this, but most are not clean and straightforward

***

We can use **Pandas** for this. Pandas has two basic data structures:
* **Series**, which are one-dimensional labeled arrays, resembling dictionaries
* **DataFrame** (most commonly used) is 2-dimensional, like a spreadsheet, or a dictionary of Series

## <center>Pandas data structures</center>

<center>Pandas data structures are similar to numpy ndarrays but with extra functionality.</center>

#### 1D data structures

A <font color='red'>Series</font>  is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. 

Think of a Series as a cross between a list and a dict.

![title](img/pandas_series.png)

A series can be constructed with the `pd.Series` constructor (passing a list or array of values).

In [ ]:
a = np.array([5, 8, 13, 0.1, -5])   # Numpy
print(type(a))
print(a)

In [ ]:
s = pd.Series([5, 8, 13, 0.1, -5]) # Pandas
print(type(s))
print(s)

...get default index values

#### NumPy arrays as backend of Pandas

In [ ]:
s.values  # Contains an array of data

In [ ]:
s.index # has an associated array of data labels from 0, N-1

In [ ]:
s.describe()

#### More on the index

In [ ]:
s = pd.Series([5, 8, 13, 0.1, -5],
        index=['A','B','C','D','E'])
print(s)

#### Numpy Array has an implicitly defined integer index used to access the values while the Pandas Series has an explicitly defined index associated with the values.

In [ ]:
print(s[3])  # value at position 0 in series

In [ ]:
print(s.iloc[3]) # use iloc to get value at position n

In [ ]:
print(s.loc['D']) # value at given index

#### index and position are not the same !!!

#### 2D data structures

Pandas: <font color='red'>DataFrame</font> is a 2-dimensional labeled data structure with columns of potentially different types. It is generally the most commonly used pandas object.

A <font color='red'>DataFrame</font> is like a sequence of aligned <font color='red'>Series</font> objects, i.e. they share the same index.

![title](img/pandas_df.png)

A DataFrame can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

In [ ]:
df = pd.DataFrame(
    data=[[5, True, 'x', 2.7],
          [8, True, 'y', 3.1],
          [13,False,'z',np.NaN],
          [1, False, 'a', 0.1],
          [-5, True, 'b', -2]],
    index=['A','B','C','D','E'],
    columns=['num', 'bool', 'str', 'real']
)
print(type(df))
df

In [ ]:
df.describe()

#### Create a DataFrame from a 2D Numpy array

Given a two-dimensional array of data, we can create a dataframe with any specified column and index names. If left out, an integer index will be used for each.

In [ ]:
np.random.rand(3, 2)

In [ ]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

### Exercise

Use the dictionary created earlier

In [ ]:
my_dict = { 
     'name' : ["John", "Diane", "Joe", "Danielle", "Ashley", "Sam"],
     'age' : [20,55, 35, 40, 21, 35],
     'salary' : [41000,73000, 68000, 65000, 50000, 55000],
     'designation': ["VP", "CEO", "CFO", "VP", "VP", "VP"]
}

* Create a dataframe named __employees__
* Set the index to be the __name__ key
* Print the designation of employee __Sam__

In [ ]:
employees = pd.DataFrame(my_dict)
employees.set_index('name', inplace=True)
employees

Furthermore:

In [ ]:
df = pd.DataFrame(B)
df

In [ ]:
# Accessing data vs Numpy

***

## <center>Climate data</center>

### <center>Global Surface Temperature Change based on Land and Ocean Data</center>
<center>Reference http://pubs.giss.nasa.gov/docs/2010/2010_Hansen_ha00510u.pdf</center>

In [ ]:
!head data/climate/annual.land_ocean.90S.90N.df_1880-2016mean.dat

In [ ]:
!tail data/climate/annual.land_ocean.90S.90N.df_1880-2016mean.dat

#### Pandas <font color='red'>read_csv</font>

In [ ]:
filename = "data/climate/annual.land_ocean.90S.90N.df_1880-2016mean.dat"

In [ ]:
tsurf = pd.read_csv(filename)

In [ ]:
print('Data type:',type(tsurf))
print('Data:\n')
print(tsurf)

There is only 1 column! Let's reformat the data noting that there is a header and values are separated by any number of spaces.

### Data wrangling

In [ ]:
tsurf = pd.read_csv(filename, skiprows=5, sep="\s+")
tsurf

There are columns but the column names are: 1880, -0.20, -0.13

In [ ]:
tsurf = pd.read_csv(filename, skiprows=5, sep="\s+", names=["year", "mean_anom", "with_smoothing"])
tsurf

We only have 3 columns, one of which one of which is the year of the record. Let use that as the index using the `index_col` option:

In [ ]:
tsurf = pd.read_csv(filename, skiprows=5, sep="\s+", names=["year", "mean_anom", "with_smoothing"], 
                                index_col=0)
tsurf

In [ ]:
# Let's look at the index

But the index is made of dates. Let's make that explicit:

In [ ]:
tsurf = pd.read_csv(filename, skiprows=5, sep="\s+", names=["year", "mean_anom", "with_smoothing"], 
                                index_col=0, parse_dates=True)  # parse_dates -> DatetimeIndexes
tsurf

In [ ]:
print(tsurf.index)

In [ ]:
tsurf.index[0]

### Dealing with missing values

In [ ]:
tsurf.tail()

In [ ]:
# Convert to missing values to NaN values
tsurf[tsurf == -999.000] = np.nan
tsurf.tail()

In [ ]:
# Remove NaN values
tsurf = tsurf.dropna()

### Visualization

In [ ]:
tsurf.plot()

In [ ]:
ax = tsurf.mean_anom.plot(style="black", 
                          title="Global Mean Estimates based on Land and Ocean Data", 
                          marker='s',
                          figsize=(12,6))
tsurf.with_smoothing.plot(style="red", ax=ax)
ax.set_ylabel("Temperature Anomaly(C)")
ax.legend()

In [ ]:
image = 'https://data.giss.nasa.gov/gistemp/graphs/graph_data/Global_Mean_Estimates_based_on_Land_and_Ocean_Data/graph.png'
from IPython.display import Image
Image(image)

## <center>Solar data</center>

<center>http://heliophysics.com/documents/TSI%20and%20Fuv%20using%20Apn%202012%20and%20Af%202015.xlsx</center>

In [ ]:
!ls data/solar/

#### Reading Excel files requires the xlrd library. You can install it via pip or conda.

In [ ]:
solar_data_xls = "data/solar/TSI and Fuv using Apn 2012 and Af 2015.xlsx" # Needs xlrd

In [ ]:
df = pd.read_excel(solar_data_xls)
df

In [ ]:
!head data/solar/tsi_fuv.csv

In [ ]:
solar_data = "data/solar/tsi_fuv.csv"

In [ ]:
solar = pd.read_csv(solar_data)

In [ ]:
solar = pd.read_csv(solar_data, index_col=0, names=["year", "tsi", "tsi2", "fuv"], parse_dates=True)

In [ ]:
solar.head()

In [ ]:
solar["tsi"].head()

In [ ]:
solar.info()

#### Rename columns

Assign a new list of column names to the columns property of the DataFrame.

In [ ]:
solar.columns = ["TSI_WL", "TSI_Ca_K", "solar_uv_irradiance_variation"]

In [ ]:
solar

In [ ]:
solar.columns = ["tsi", "tsi2", "fuv"]

In [ ]:
# Now, we can use . dot 
solar.fuv.head()

In [ ]:
solar.tsi.std()

### Visualization

In [ ]:
solar.tsi.plot()

In [ ]:
fig, ax = plt.subplots(nrows=2, ncols=1, figsize=(12,6))
ax[0].plot(solar.tsi,'b', solar.tsi2,'g')
ax[1].plot(solar.fuv)

In [ ]:
solar[['tsi','tsi2','fuv']].plot(subplots=True, figsize=(16, 12));

The <font color='red'>plot()</font> function returns a matplotlib <font color='red'>AxesSubPlot</font> object. You can pass this object into subsequent calls to plot() in order to compose plots.

In [ ]:
from pandas.plotting import scatter_matrix
scatter_matrix(solar);

In [ ]:
from pandas.plotting import scatter_matrix
scatter_matrix(solar, alpha=0.2, figsize=(10, 10), diagonal='kde');

In [ ]:
sns.set(style="ticks")
sns.pairplot(solar, diag_kind='kde');

## <center>Sea level dataset</center>

The __University of Colorado__ posts updated timeseries for mean sea level globally, per hemisphere, and even per ocean, sea.

In this example we will download the global one, and the ones for the northern and southern hemisphere.

That will also illustrate that to load text files that are online, there is no more work than replacing the filepath by a URL in `read_csv`:

In [ ]:
northern_sea_level = pd.read_csv("http://sealevel.colorado.edu/files/current/sl_nh.txt", 
                                   sep="\s+")
print(type(northern_sea_level))
northern_sea_level

In [ ]:
southern_sea_level = pd.read_csv("http://sealevel.colorado.edu/files/current/sl_sh.txt", 
                                   sep="\s+")
southern_sea_level

In [ ]:
# The 2016 version of the global dataset:
url = "http://sealevel.colorado.edu/files/2016_rel2/sl_ns_global.txt"
global_sea_level = pd.read_csv(url, sep="\s+")
global_sea_level

### Creating new DataFrames

New `DataFrame`s can  be created manually by grouping several Series together. 

Let's make a new frame from the 3 sea level datasets so that they can be displayed along the same index. 

Wait, does it make sense to do that?

In [ ]:
# For two Series to share the same DataFrame the Series have to be aligned.
# Let's look at sea level data for NH and SH. Are they aligned?
southern_sea_level.year == northern_sea_level.year

In [ ]:
# Could use Numpy:
np.all(southern_sea_level.year == northern_sea_level.year)

So the northern hemisphere and southern hemisphere datasets are aligned. What about the global one?

In [ ]:
print(len(global_sea_level.year))
print(len(northern_sea_level.year))
len(global_sea_level.year) == len(northern_sea_level.year)

For now, let's just build a DataFrame with the 2 hemisphere datasets then. We will come back to add the global one later...

In [ ]:
# A dictionary of Series
mean_sea_level = pd.DataFrame({"northern_hem": northern_sea_level["msl_ib(mm)"], 
                               "southern_hem": southern_sea_level["msl_ib(mm)"], 
                               "date": northern_sea_level.year})
mean_sea_level

There is still the date in a regular column and a numerical index that is not that meaningful (or useful). We can specify the `index` of a `DataFrame` at creation. Let's try:

In [ ]:
mean_sea_level = pd.DataFrame({"northern_hem": northern_sea_level["msl_ib(mm)"], 
                               "southern_hem": southern_sea_level["msl_ib(mm)"]},
                               index = northern_sea_level.year)
mean_sea_level

#### What's going on?

In [ ]:
# Note that
northern_sea_level["msl_ib(mm)"].index

There is no `value` corresponding to the Series' `index`.

But there is `value` corresponding to the specified `index`.

So, replace the Series by their values when creating the DataFrame:

In [ ]:
mean_sea_level = pd.DataFrame({"northern_hem": northern_sea_level["msl_ib(mm)"].values, 
                               "southern_hem": southern_sea_level["msl_ib(mm)"].values},
                               index = northern_sea_level.year)
mean_sea_level

Note the following:

Index name, `year`, is not an accurate description of what it indexes

We can rename an index by setting its name. 

For example, the index of the `mean_sea_level` dataFrame could be called `date` since it contains more than just the year:

In [ ]:
mean_sea_level.index.name = "date"
mean_sea_level

### Adding columns

While building the `mean_sea_level` dataFrame earlier, we didn't include the values from `global_sea_level` since the years were not aligned. 

Adding a column to a dataframe is as easy as adding an entry to a dictionary. So let's try:

In [ ]:
mean_sea_level["mean_global"] = global_sea_level["msl_ib_ns(mm)"]
mean_sea_level

The column is full of NaNs again because the auto-alignment feature of Pandas is searching for the index values like `1992.9323` in the index of `global_sea_level["msl_ib_ns(mm)"]` series and not finding them. Let's set its index to these years so that that auto-alignment can work for us and figure out which values we have and not:

In [ ]:
global_sea_level

In [ ]:
global_sea_level = global_sea_level.set_index("year")
global_sea_level["msl_ib_ns(mm)"]

In [ ]:
mean_sea_level["mean_global"] = global_sea_level["msl_ib_ns(mm)"]
mean_sea_level.tail()

In [ ]:
with pd.option_context("max_rows", 40):
    print(mean_sea_level.fillna(value=0))

### Visualization

In [ ]:
mean_sea_level.plot(subplots=True, figsize=(16, 12));

There are more plot options inside `pandas.tools.plotting`; for example:

In [ ]:
mean_sea_level.plot(kind='kde', figsize=(12, 8));

In [ ]:
# Are there correlations between the northern and southern sea level timeseries we loaded?
from pandas.plotting import scatter_matrix
scatter_matrix(mean_sea_level, figsize=LARGE_FIGSIZE);

## <center>Web scraping sea level data</center>

There is more data about mean sea levels. For example, the PSMSL website (http://www.psmsl.org/) contains MSL data from stations around the world. Here we download and parse all tables in a webpage, and again we just give `read_html` the URL to parse:

#### Pandas  <font color='red'>read_html</font>

In [ ]:
# Needs `lxml`, `beautifulSoup4` and `html5lib` python packages
table_list = pd.read_html("http://www.psmsl.org/data/obtaining/")

In [ ]:
len(table_list)

In [ ]:
table_list[-1]

In [ ]:
# there is 1 table on that page which contains metadata about the stations where 
# sea levels are recorded
local_sea_level_stations = table_list[0]
local_sea_level_stations

That table can be used to search for a station in a region of the world we choose, extract an ID for it and download the corresponding time series with the URL http://www.psmsl.org/data/obtaining/met.monthly.data/< ID >.metdata

The datasets that we obtain straight from the reading functions are pretty raw. A lot of pre-processing can be done during data read but we haven't used all the power of the reading functions.

In [ ]:
# The columns of the local_sea_level_stations aren't clean: they contain spaces and dots.
local_sea_level_stations.columns

In [ ]:
# Let's clean them up a bit:
local_sea_level_stations.columns = [name.strip().replace(".", "") 
                                    for name in local_sea_level_stations.columns]
local_sea_level_stations.columns

In [ ]:
local_sea_level_stations